<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="../src/output.css" rel="stylesheet" />
  </head>
  <body class="bg-black text-white m-0 p-0 text-[13px]">
    <!--bg image-->
    <img
      class="w-full opacity-[20%] absolute -z-10 top-0"
      src="../src/img/gymwall.jpg"
    />
    <!--bg image-->

    <!--NAV BAR -- --NAV BAR -- --NAV BAR -- --NAV BAR -- --NAV BAR -->
    <nav class="relative border-b 1 white flex flex-row items-center p-[10px]">
      <img
        class="h-[40px] w-[40px] rounded-[100%]"
        src="../src/img/pisik1.jpg"
      />
      <div class="hidden sm:block">
        <h1 class="text-[20px] ml-[10px] font-semibold">Franz Angeles</h1>
      </div>
      <div
        class="absolute left-1/2 transform -translate-x-1/2 transition-all duration-500"
      >
        <a href="../html/index.html"
          ><button
            class="m-[5px 5px 5px 10px] bg-blue-700 px-[6px] rounded-[5px] py-[5px] md:px-[15px] lg:px-[25px] xl:px-[40px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
          >
            Home
          </button>
        </a>
        <a href="../html/about.html"
          ><button
            class="m-[5px 10px 5px 10px] bg-blue-700 px-[6px] rounded-[5px] py-[5px] md:px-[15px] lg:px-[25px] xl:px-[40px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
          >
            About
          </button>
        </a>
        <a href=""
          ><button
            class="m-[5px 10px 5px 10px] bg-blue-700 px-[7px] py-[5px] rounded-[5px] md:px-[15px] lg:px-[25px] xl:px-[40px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
          >
            Programs
          </button>
        </a>
      </div>
    </nav>

    <div class="flex-col">
      <div class="flex justify-around">
        <h1
          class="text-4xl w-[322px] mt-[50px] font-semibold lg:ml-[2%] 2xl:ml-[14%] 2xl:text-5xl transition-all duration-500"
        >
          Hi, I'm Franz & I'm a Fitness Coach
        </h1>
        <div class="w-[1px]"></div>
      </div>
      <!--HEADER----HEADER----HEADER----HEADER----HEADER----HEADER----HEADER-->
      <div
        class="lg:flex flex-row-reverse justify-self-center items-center gap-[50px] mt-[20px] xl:mt-[30px] 2xl:mt-[30px]"
      >
        <img
          class="justify-self-center h-[350px] w-[275px] mt-[30px] mb-[20px] xl:m-0 2xl:h-[400px] 2xl:w-[300px]"
          src="../src/img/pisik3.jpg"
        />
        <p
          class="justify-self-center text-[13px] sm:justify-self-center text-justify w-[320px] 2xl:w-[400px] xl:text-[15px] 2xl:text-[18px] transition-all duration-500"
        >
          I'm a 20 years old Men's Physique Bodybuilding athlete. A normal
          teenager that fell into the passion of bodybuilding because of my
          elder brothers, who already started this career line when I was a kid,
          and got inspired by them and had my first men's physique competition
          debut in July 2023 at KG Classic, Trained hard, became addicted to the
          progress, love the pain embrace the gains, fear of being average.
        </p>
        <img
          class="justify-self-center h-[350px] w-[275px] mt-[30px] mb-[20px] xl:m-0 2xl:h-[400px] 2xl:w-[300px]"
          src="../src/img/piga.jfif"
        />
      </div>
      <!-- CONTENT---- CONTENT---- CONTENT---- CONTENT---- CONTENT---- CONTENT-->
      <div
        class="h-[500px] bg-blue-700 mt-[40px] sm:mt-[50px] xl:mt-[70px] border-t-[10px] border-b-[10px] border-blue-900"
      >
        <div>
          <img class="h-[300px] self-center" src="../src/img/thrwbacknk.jfif" />
        </div>
      </div>
    </div>
  </body>
</html>
