<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../src/output.css" rel="stylesheet" />
  </head>
  <body class="bg-black text-white">
    <nav class="border 1 white flex flex-row items-center p-[10px]">
      <div><img class="h-[40px] rounded-[100%]" src="../src/pisik1.jpg" /></div>

      <div
        class="ml-[25%] sm:ml-[30%] md:ml-[31%] lg:ml-[35%] xl:ml-[39%] 2xl:ml-[41%] transition-all duration-500"
      >
        <button
          class="m-[5px 10px 5px 10px] bg-blue-700 px-[5px] rounded-[5px] py-[5px] md:px-[15px] lg:px-[25px] transition-all duration-500"
        >
          Home
        </button>
        <button
          class="m-[5px 10px 5px 10px] bg-blue-700 px-[5px] rounded-[5px] py-[5px] md:px-[15px] lg:px-[25px] transition-all duration-500"
        >
          About
        </button>
        <button
          class="m-[5px 10px 5px 10px] bg-blue-700 px-[7px] py-[5px] rounded-[5px] md:px-[15px] lg:px-[25px] transition-all duration-500"
        >
          Programs
        </button>
      </div>
    </nav>

    <div>
      <h1 class="text-5xl">ONLINE COACHING</h1>
    </div>
  </body>
</html>
