<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../src/output.css" rel="stylesheet" />
  </head>
  <body class="bg-black text-white m-0 p-0 text-[13px]">
    <!--NAV BAR -- --NAV BAR -- --NAV BAR -- --NAV BAR -- --NAV BAR -->
    <nav class="border 1 white flex flex-row items-center p-[10px]">
      <img
        class="h-[40px] w-[40px] rounded-[100%]"
        src="../src/img/pisik1.jpg"
      />
      <div
        class="ml-[20%] sm:ml-[30%] md:ml-[31%] lg:ml-[32%] xl:ml-[37%] 2xl:ml-[40.5%] transition-all duration-500"
      >
        <button
          class="m-[5px 10px 5px 10px] bg-blue-700 px-[5px] rounded-[5px] py-[5px] md:px-[15px] lg:px-[25px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
        >
          Home
        </button>
        <button
          class="m-[5px 10px 5px 10px] bg-blue-700 px-[5px] rounded-[5px] py-[5px] md:px-[15px] lg:px-[25px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
        >
          About
        </button>
        <button
          class="m-[5px 10px 5px 10px] bg-blue-700 px-[7px] py-[5px] rounded-[5px] md:px-[15px] lg:px-[25px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
        >
          Programs
        </button>
      </div>
    </nav>
    <!--HEADER -- --HEADER -- --HEADER -- --HEADER -- --HEADER -->
    <div>
      <h1
        class="text-5xl font-sans font-bold ml-[10px] mt-[10px] lg:text-[80px] transition-all duration-500"
      >
        ONLINE <br />COACHING
      </h1>
      <p
        class="w-[200px] flex justify-self-center mt-[30px] text-center text-[15px] sm:w-[610px] md:text-[18px] lg:text-[20px] transition-all duration-500"
      >
        Do you want to ACHIEVE your FITNESS GOALS? <br />Struggling on how to do
        a RIGHT DIET? <br />Don't know the RIGHT WORKOUT that will FIT YOU and
        your GOALS?
        <br />
        I CAN HELP YOU!
      </p>
      <!-- CONTENT -- -- CONTENT -- -- CONTENT -- -- CONTENT -- -- CONTENT -->
      <img
        class="flex justify-self-center mt-[20px] h-[400px] rounded-2xl lg:h-[500px] transition-all duration-500"
        src="../src/img/pisik2.jpg "
      />
      <h1
        class="flex justify-self-center text-center mt-[10px] italic lg:text-[15px] transition-all duration-500"
      >
        I'm Franz Angeles A Physique Athlete and IT Student <br />
        I'm really knowledgeable about fitness and want to inspire and help
        people with their fitness goals
      </h1>
    </div>
    <img class="mt-[50px]" src="../src/img/me1.jpg" />
  </body>
</html>
