<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programs</title>
    <link href="../src/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="../src/ProgramsStyle.css" />
  </head>
  <body class="bg-black text-white m-0 p-0 text-[13px]">
    <!--NAV BAR -- --NAV BAR -- --NAV BAR -- --NAV BAR -- --NAV BAR -->
    <nav class="relative border-b 1 white flex flex-row items-center p-[10px]">
      <img
        class="h-[40px] w-[40px] rounded-[100%]"
        src="../src/img/pisik1.jpg"
      />
      <div class="hidden sm:block">
        <h1 class="text-[20px] ml-[10px] font-semibold">Programs</h1>
      </div>
      <div
        class="absolute left-1/2 transform -translate-x-1/2 transition-all duration-500"
      >
        <a href="../html/index.html"
          ><button
            class="m-[5px 5px 5px 10px] bg-blue-700 px-[6px] rounded-[5px] py-[5px] md:px-[15px] lg:px-[25px] xl:px-[40px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
          >
            Home
          </button>
        </a>
        <a href="../html/about.html"
          ><button
            class="m-[5px 10px 5px 10px] bg-blue-700 px-[6px] rounded-[5px] py-[5px] md:px-[15px] lg:px-[25px] xl:px-[40px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
          >
            About
          </button>
        </a>
        <a href="../html/Programs.html"
          ><button
            class="m-[5px 10px 5px 10px] bg-blue-700 px-[7px] py-[5px] rounded-[5px] md:px-[15px] lg:px-[25px] xl:px-[40px] transition-all duration-100 hover:bg-blue-900 cursor-pointer active:bg-blue-950"
          >
            Programs
          </button>
        </a>
      </div>
    </nav>
    <!---->

    <div
      id="sidebar"
      class="h-[905px] border 1 border-white w-[60px] xl:w-[350px] pl-[5px]"
    >
      <a href="../html/ProgramsPages/Mealplan.html">
        <div class="flex flex-row">
          <div
            class="iconBg background border 1 border-white h-[50px] w-[50px]"
          >
            <img class="icons" src="../src/img/mealplanicon.png" alt="" />
          </div>
          <div class="labels hidden border 1 border-white xl:block w-[290px]">
            MEAL PLAN / DIET
          </div>
        </div>
      </a>
      <a href="../html/ProgramsPages/Workoutplan.html">
        <div class="flex flex-row">
          <div
            class="iconBg background border 1 border-white h-[50px] w-[50px]"
          >
            <img
              id="wrkouticon"
              class="icons"
              src="../src/img/workoutplanicon.png"
              alt=""
            />
          </div>
          <div class="labels hidden border 1 border-white xl:block w-[290px]">
            WORKOUT PLAN
          </div>
        </div>
      </a>

      <a href="../html/ProgramsPages/Lifetstyle.html">
        <div class="flex flex-row">
          <div
            class="iconBg background border 1 border-white h-[50px] w-[50px]"
          >
            <img class="icons" src="../src/img/lifestyleicon.png" alt="" />
          </div>
          <div class="labels hidden border 1 border-white xl:block w-[290px]">
            LIFESTYLE
          </div>
        </div>
      </a>

      <a href="../html/ProgramsPages/Athletics.html">
        <div class="flex flex-row">
          <div
            class="iconBg background border 1 border-white h-[50px] w-[50px]"
          >
            <img
              id="iconid"
              class="icons"
              src="../src/img/athleticsicon.png"
              alt=""
            />
          </div>
          <div class="labels hidden border 1 border-white xl:block w-[290px]">
            ATHLETICS / PLYOMETRICS
          </div>
        </div>
      </a>
    </div>

    <div
      class="fixed left-0 right-0 top-[120px] flex items-center justify-center pointer-events-none"
    >
      <h1 class="text-5xl font-bold text-center sm:text-6xl xl:text-7xl">
        PROGRAMS <br />
        OFFERED
      </h1>
    </div>
    <div
      class="absolute left-0 right-0 top-[280px] flex items-center justify-center pointer-events-none xl:top-[320px]"
    >
      <p
        class="w-[200px] text-2xl text-center pointer-events-auto sm:text-3xl sm:w-[250px] xl:text-4xl xl:w-[350px]"
      >
        Yes, I'm a fitness coach, but it doesn't mean I already know everything
        about fitness, so here are all of the programs I know and can provide.
      </p>
    </div>
  </body>
</html>
